/* About # 01 */

.about-content-wrap {    
    @media #{$md}{
        margin-top: 120px;
    }

    @media #{$xs}{
        margin-top: 120px;
    }
  }

.about-content-wrap {
    padding-left: 20px;
}

.about-list-item {
    margin-top: 30px;
    @media #{$lg}{
        margin-top: 15px;
    }
    ul li {
        display: inline-block;
        width: 45%;
        margin-right: 18px;
        margin-bottom: 15px;
        @media #{$lg}{
            margin-bottom: 10px;
        }
        @media #{$xs}{
            width: 100%;
        }
    }
    i {
        color: $theme_color;
        margin-right: 15px;
    }
}

.about-img-wrap {
    position: relative;
    z-index: 1;
}

.image-one {
    position: relative;
    top: 0;
    left: 0;
    width: 70%;
    @media #{$xs}{
        width: 80%;
    }
}

.image-two {
    position: absolute;
    bottom: -100px;
    right: 20px;
    width: 55%;
    @media #{$xs}{
        width: 65%;
        right: 0;
    }
  }

.about-section.pt-200 {
    @media #{$xs}{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.about-section .section-title h2 br {
    @media #{$xs}{
        display: none;
    }
}

/* About # 02 */

#about-2{

    .about-img-wrap {
        max-width: calc(100% - 60px);
        @media #{$lg}{
            max-width: calc(100% - 20px);
        }
        @media #{$xs}{
            max-width: calc(100% - 0px);
        }
    }

    .about-content-wrap {    
        @media #{$md}{
            margin-top: 60px;
        }
        @media #{$xs}{
            margin-top: 60px;
        }
    }

    .feature-service {
        margin-top: 30px;
    }
    
    .single-feat-service {
        display: block;
        padding: 0;
        border: none;
        h4{
            font-size: 22px;
            font-weight: 500;
            margin: 20px 0 10px;
            @media #{$lg}{
                font-size: 20px;
            }
        }
    }
    
    .feat-icon {
        width: 80px;
        height: 80px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #ff770014;
        flex: 0 0 60px;
        img{
           width: 50px;
        }
    }
    
    .feat-content {
        padding-left: 0;
    }

    .experience-wrap {
        width: 200px;
        height: 200px;
        background: $theme_color;
        color: #fff;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        right: 0;
        bottom: 0;
        @media #{$md}{
            left: 0;
        }
        @media #{$xs}{
            right: 0;
        }
    }
    
    .experience-wrap span {
        font-size: 60px;
        font-weight: 600;
        line-height: 1;
    }
    
    .experience-wrap p {
        font-size: 18px;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0;
    }
}

/* About # 03 */

#about-3{
    .about-content-wrap {    
        @media #{$md}{
            margin-top: 60px;
            padding-right: 60px;
        }
        @media #{$xs}{
            margin-top: 60px;
        }
    }
}

.single-counter-box{
    @media #{$xs}{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.single-counter-box p {
    font-size: 60px;
    font-weight: 600;
    color: $primary_color;
    line-height: 1;
    display: inline-block;
    @media #{$xs}{
        font-size: 45px;
    }
}

.single-counter-box h6 {
    font-size: 18px;
    font-weight: 500;
}

.single-counter-box span {
    color: $theme_color;
    font-size: 30px;
    margin-left: 10px;
    position: relative;
    top: -30px;
}

.about-bg-wrapper {
    position: relative;
    z-index: 1;
    padding-left: 90px;
}

.small-img {
    position: absolute;
    display: inline-block;
    bottom: -30px;
    left: 30px;
    border: 10px solid #fff;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
    @media #{$md}{
        left: 0;
    }
    @media #{$xs}{
        display: none;
    }
}



.about-section .mt-70{
    @media #{$xs}{
        margin-top: 30px;
    }
}
