/* Counter # 01 */
    
    .single-counter-box {    
        margin-bottom: 50px;
        text-align: center;
        @media #{$xs} {            
            text-align: center;
        }
        h6 {
            font-size: 18px;
            font-weight: 500;
            color: #fff;
            margin-bottom: 15px;
    
            @media #{$xs} {            
                font-size: 16px;
            }
        }

        .counter-number{
            display: inline-block;
        }

                
    }
       
    .single-counter-box .counter-number span {
        font-size: 65px;
        font-weight: 600;
        line-height: 1;
        color: #fff;
        margin-top: 30px;
        
        @media #{$lg} {
            font-size: 60px;
        }
        @media #{$md} {
            font-size: 55px;
        }
        @media #{$xs} {
            font-size: 55px;
        }
        
    }

    .single-counter-box span {
        color: $theme_color;
        font-size: 30px;
        margin-left: 10px;
        position: relative;
        top: -30px;
    }

#about-3{

    .single-counter-box .counter-number span{
        color: inherit;
        font-size: 60px;
    }

    .single-counter-box h6{
        color: inherit;
    }

}
    

.counter-section {
    width: 70%;
    margin-top: -100px;
    z-index: 9;
    position: relative;
    float: right;
    @media #{$md}{
        width: 80%;
    }
    @media #{$xs}{
        display: none;
    }
}

/* Fun Fact Section  */

.funfact-section{
    
    .single-counter-item h6 {
        color: #212531;
        font-weight: 500;
    }
    .single-counter-item h1 {
        color: #212531;
        font-size: 60px;
        @media #{$xs}{
            font-size: 50px;
        }
    }
    .counter-content{
        position: relative;
        bottom: 0;
    }
}

