.single-feature-wrap {
    background: #fff;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    padding: 30px;
    margin-top: -120px;
    position: relative;
    z-index: 9;    
    @media #{$md}{
        padding: 20px;
    }
    @media #{$xs}{
        margin-top: 60px;
    }
}

.single-feature-wrap h5 {
    font-size: 24px;
    font-weight: 600;
    margin: 30px 0 20px;
    @media #{$md}{
        font-size: 18px;
    }
    @media #{$xs}{
        font-size: 20px;
    }
}

.feature-icon {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.feature-icon:after {
    position: absolute;
    content: "";
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    background: #ff770029;
}