.client-content-wrap {
    max-width: calc(100% - 65px);
    @media #{$xs}{
        max-width: calc(100% - 0px);
    }
}

.contact-info-wrap {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.contact-icon {
    width: 50px;
    height: 50px;
    background: $theme-color;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.contact-icon i {
    font-size: 20px;
    color: #fff;
}

.contact-text p {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: $text_dark;
}

.progress-bar-area {
    @media #{$xs}{
        margin-top: 60px;
    }
}