/* Project # 01 */

.project-section {
    position: relative;
    z-index: 1;
}

.single-project-wrapper:hover .project-details {
    transition: all 0.4s;
    transform: translateY(0);
    bottom: 40px;
    opacity: 1;
}

.single-project-wrapper{
    position: relative;
    overflow: hidden;
}

.single-project-wrapper:hover .project-bg {
    transform: scale(1.07);
}

.project-bg {
    transition: all 0.5s ease;
    transform: scale(1);
}

.project-wrapper .owl-dots button.owl-dot span {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background: #013B4F;
    margin-right: 10px;
    margin-top: 30px;
    position: relative;
  }
  
  .project-wrapper .owl-dots button.owl-dot.active span:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: 2px solid $primary_color;
    border-radius: 50%;
    padding: 7px;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }
  
  .project-wrapper .owl-dots {
    text-align: center;
  }


/* Project # 02 */

.project-details {
    position: absolute;
    transition: all 0.4s;
    transform: translateY(100%);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 20px 25px 15px;
    width: 70%;
    max-width: 70%;
    background-color: #fff;
    opacity: 0;
    text-align: center;
    h4{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 5px;
        @media #{$lg}{
            font-size: 20px;
        }
        @media #{$md}{
            font-size: 16px;
        }
    }
    @media #{$xs}{
        width: 85%;
        max-width: 85%;
    }
}

.single-project-wrap:hover .project-details {
    transition: all 0.4s;
    transform: translateY(0);
    bottom: 40px;
    opacity: 1;
}

.single-project-wrap{
    position: relative;
}

.single-project-wrap:hover .project-bg {
    transform: scale(1.07);
}

.project-bg {
    transition: all 0.5s ease;
    transform: scale(1);
}

.project-slider .owl-nav button.owl-prev,
.project-slider .owl-nav button.owl-next {
  border: 1px solid #ddd;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.project-slider .owl-nav button.owl-prev:hover,
.project-slider .owl-nav button.owl-next:hover {
  background: $theme_color;
  border-color: $theme_color;
  color: #fff;

}

.project-slider .owl-nav {
    position: absolute;
    top: -110px;
    right: 15px;
    display: flex;
}

.project-slider .owl-nav i {
    font-size: 20px;
    font-weight: 500;
  }

/* Project Details  */

.project-details-inner h2 {
    font-size: 48px;
    font-weight: 600;
    margin: 30px 0;
    @media #{$xs}{
        font-size: 32px;
    }
}

.project-details-inner b {
    margin: 30px 0;
    display: block;
}

.project-details-list {
    margin-top: 30px;
}

.project-details-list ul li {
    display: block;
    margin-bottom: 20px;
    position: relative;
    padding-left: 30px;
}

.project-details-list ul li i {
    position: absolute;
    top: 7px;
    left: 0;
    color: #013B4F;
}

.project-info-wrap {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.project-info-title {
    display: block;
    text-align: center;
    background: #013B4F;
    padding: 35px;
    border-radius: 5px 5px 0 0;
}

.project-info-title h4 {
    color: #fff;
    font-weight: 600;
}

.project-info-inner {
    padding: 40px 35px;
    @media #{$xs}{
        padding: 30px;
        span{
            font-size: 15px;
        }
    }
}

.project-info-inner h6 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.single-info {
    margin-bottom: 20px;
}

.single-info span {
    color: #616670;
}

.pagination-wrap {
    padding: 35px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
  }
  
  .pagination-wrap a {
    font-size: 16px;
    font-weight: 600;
    color: #061815;
    display: flex;
    align-items: center;
  }
  
  .pagination-wrap a i {
    font-size: 25px;
    margin-right: 15px;
  }
  
  .project-details-inner p {
    text-align: justify;
  }
  
  .social-area-wrap a {
    background: #F5F7FA;
    color: #013B4F;
}

.project-details p {
    color: $theme-color;
    margin-bottom: 5px;
}


.project-section.project-three .row.mt-40 {
    @media #{$xs}{
        margin-top: 0;
    }
  }

/* Project # Standard */

#project-standard {
	.single-project-wrapper{
		margin-bottom: 60px;
	}
	
	.project-title {
		position: relative;
		padding-left: 30px;
	
		&:before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			background: $theme-color;
		}
		h3 {
			font-size: 24px;
			margin-top: 20px;
		}
		
		h6 {
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 500;
			letter-spacing: 3px;
			color: #8b8b8b;
			margin-top: 5px;
		}
		
		a {
			font-size: 17px;
			margin-top: 6px;
		}
	}
	
	
	.project-slider-2 .owl-stage-outer {
		overflow: inherit;
	}
	
	.project-slider-2:before,
	.project-slider-2:after {
	  position: absolute;
	  content: "";
	  width: 500%;
	  height: 100%;
	  top: 0;
	  left: -500%;
	  background: #fff;
	  opacity: .7;
	  z-index: 1;
	}
	
	.project-slider-2:after {
	  left: auto;
	  right: -500%;
	}
	
}

/* Project # Metro */

.single-project-wrap{
	position: relative;
	z-index: 1;
	@media #{$xs}{
		width: 100%;
	}
	img{
		width: 100%;
		object-fit: cover;
	}
	&.big img {
		height: 700px;		
		@media #{$xs} {
			height: 350px;
		}
	}
	&.small img {
		height: 350px;
	}
	&.wide img {
		height: 350px;
	}
}

.single-project-wrap .details {
	background: $theme_color;
	width: 100%;
	height: 100%;
	padding: 50px 35px;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
  }
  
  
  .single-project-wrap .info {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
	margin-top: -20px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
  }
  

  .single-project-wrap h5 {
	font-size: 22px;
	color: #fff;
	margin-bottom: 10px;
  }

  .single-project-wrap h6 {
	font-size: 18px;
	color:#fff;
  }
  
  .single-project-wrap:hover .details {
	opacity: 1;
	visibility: visible;
	top: 0;
  }
  
  .single-project-wrap:hover .details .info {
	opacity: 1;
	margin-top: 0;
  }

/* Project # Grid */

#project-2{
	.single-project-item {		
		position: relative;
		z-index: 1;
		overflow: hidden;	
        margin-bottom: 30px;
		@media #{$md, $xs}{
			margin-bottom: 30px;
		}

		.project-bg{
			height: 305px;
		}


		.project-info{
			position: absolute;
			transition: all .4s;
			transform: translateY(100%);
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			padding: 20px 25px 15px;
			width: 80%;
			max-width: 80%;
			background-color: #fff;
			opacity: 0;
			text-align: center;
			h5 {
				font-size: 20px;
				font-weight: 500;
				margin-bottom: 3px;
			}
			p{
				margin: 0;
                font-weight: 500;
				color: $theme_color;
			}
		}

		&:hover {			
			.project-info{
				transition: all .4s;
				transform: translateY(0);
				bottom: 40px;
				opacity: 1
			}
		}

		
	}
	
}

/* Project - Masonry */

.project-menu {
    @media #{$xs} {        
        text-align: center;
    }
  }

.project-menu li a {
    cursor: pointer;
    display: block;    
    color: #808996;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 18px;
    padding: 8px 15px;
    transition: all 0.5s;
    margin-top: 5px;
}
.project-menu a.active,
.project-menu a:hover {
    color: #fff;
    background: $theme_color;
}
.project-item {
    position: relative;
    padding: 15px;
}
.project-box {
    overflow: hidden;
    position: relative;
}
.project-box .project-img {
    position: relative;
    overflow: hidden;
    border-radius: 0;
}
.project-box .project-img:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}
.project-box .project-img>img {
    transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
    border-radius: 0;
}
.project-box .project-detail {
    opacity: 0;
    color: #FFF;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    overflow: hidden;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    text-align: center;
}
.project-box .project-detail h4 {
    color: #fff;
    font-size: 20px;
}

.project-box .project-detail p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
}

.project-box .project-detail p i {
    color: #fff;
    font-size: 20px;
}
.project-box:hover .project-detail {
    top: 50%;
    transform: translate(0, -50%);
    opacity: 1;
}
.project-box:hover .project-img:after {
    background: rgb(23 23 23 / 87%);
}
.project-box:hover .project-img>img {
    transform: scale(1.05);
}

.white-popup-block{
    background: #FFF;
    padding: 30px 15px 15px 15px;
    text-align: left;
    max-width: 650px;
    margin: 40px auto;
    position: relative;
}

button.mfp-arrow {
    display: none;
}

.mfp-counter {
    display: none;
}


.project-item.minus-top {
    margin-top: -150px;
    @media #{$md} {        
        margin-top: -100px;
    }
    @media #{$xs} {        
        margin-top: 0;
    }
}

.project-item p {
    margin: 0;
    margin-top: 15px;
}

/* Project List  */

.project-list-content {
    padding-left: 60px;
    max-width: calc(100% - 80px);
	@media #{$md, $xs}{
		padding-left: 0;
		margin-top: 30px;
		max-width: calc(100% - 40px);
	}
}

/* Project Slider  */

.project-slider-2 .owl-nav button.owl-prev,
.project-slider-2 .owl-nav button.owl-next {
  border: 1px solid #ddd;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.project-slider-2 .owl-nav button.owl-prev:hover,
.project-slider-2 .owl-nav button.owl-next:hover {
  background: $theme_color;
  border-color: $theme_color;
  color: #fff;

}

.project-slider-2 .owl-nav {
  position: absolute;
  bottom: -40px;
  left: 0;
  display: flex;
}

.project-slider-2 .owl-nav i {
  font-size: 20px;
}



// Project Details 

.project-details-content h3 {
    font-size: 35px;
    font-weight: 500;
    margin: 30px 0;
}

.project-details-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.project-details-inner {
    @media #{$xs}{
		margin-top: 60px;
	}
}

.project-details-inner p {
    text-align: justify;
}

.single-details-item h5 {
    font-weight: 500;
}

.single-details-item span {
    font-size: 18px;
    color: #777;
}

.project-details-info h3 {
    font-size: 35px;
}

.project-details-info p {
    font-size: 20px;
    margin: 30px 0;
}

.project-details-info {
    position: sticky;
    top: 150px;
    transition: top .3s ease;
}

.project-details-wrap{
	.nav-links {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	.nav-links a {
		font-size: 18px;
		font-weight: 500;
	}
	
	.nav-links span i {
		font-size: 22px;
	}

	.nav-previous i{
		margin-right: 20px;
	}
	.nav-next i{
		margin-left: 20px;
	}
}

.project-desc h3 {
    font-size: 35px;
    margin: 20px 0;
}
