
// Font Family

$dm_sans: 'DM Sans', sans-serif;

// Colors ---------------

$theme_color:#FF7700;
$theme_color_2:#C19A5B;
$primary_color:#101D23;
$btn_color:#FF7700;
$body_text: #797C7F;
$text_dark: #1F2747;
$gray:#F6F5ED;
$white: #fff;




// Responsive Variables
$xl: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 540px) and (max-width: 767px)';



