.hidden {
	display: none !important;
}
a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}

.about-img-wrap .image-one{
	aspect-ratio: 1;
}

.about-img-wrap .image-two{
	aspect-ratio: 1;
}

.about-img-wrap img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.single-service-wrap {
	margin-bottom: 0;
	height: 100%;
	padding-bottom: 100px;
	position: relative;
}

.single-service-wrap .read_more_link {
	position: absolute;
	bottom: 40px;
	left: 40px;
}

.single-service-wrap .single-service-wrap__link-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.single-project-wrapper {
	aspect-ratio: 3/2;
}

.single-project-wrapper.single-project-wrapper--square {
	aspect-ratio: 1/1;
}

.single-project-wrapper .project-bg {
	width: 100%;
	height: 100%;
}


@media (max-width: 767px) {
  .single-project-wrapper .project-details {
	opacity: 1;
	bottom: 20px;
	transform: none;
  }
}

.single-project-wrapper .project-bg img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.about-list-item ul li {
	display: inline-flex;
	align-items: baseline;
}

.video-section {
	background-image: url('../img/slider/solar-panel.jpg');
}

.footer-area .footer__logo {
	max-width: 110px;
}

.footer-area .footer__logo img {
	border-radius: 100%;
}

.footer-area .phone-number {
	font-size: 16px;
	color: #fff;
	margin-top: 16px;
}

/*Header top area*/
.header-top-area .test a {
	color: #fff;
	font-size: 14px;
	margin-right: 14px;
}

.header-top-area .test a i {
	margin-right: 4px;
}

/*Header area*/
.header-area .logo.logo--dark img {
	border-radius: 100%;
	width: 80px;
	height: 80px;
}

@media screen and (max-width: 767px) {
	.header-area .logo.logo--dark img {
		width: 60px;
		height: 60px;
	}

	.header-area .header-inner-box .logo.logo--dark {
		height: 60px;
	}

	.header-area .navigation {
		height: auto;
		padding: 10px 0;
	}
}

/*breadcrumb-area*/
.breadcrumb-area {
	background-image: none;
	position: relative;
	height: 500px;
}

.breadcrumb-area .breadcrumb-area__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*service-details-area*/
.service-details-area .service-details-img img {
	width: 100%;
	aspect-ratio: 4/3;
}

/*service-details-wrap*/
.service-details-wrap ul {
	list-style-type: disc;
	margin-bottom: 24px;
	margin-left: 14px;
	color: #797C7F;
}

/*contact-list-item*/
.contact-list-item a {
	font-size: 17px;
	color: #1F2747;
	transition: color .3s ease-in-out;
}

.contact-list-item a:hover {
	color: #FF6B00;
}

/*project-details-wrap*/
.project-details-wrap .project-image-gallery img {
	aspect-ratio: 4/3;
	object-fit: cover;
}

.project-details-wrap  ul {
	list-style-type: disc;
	margin-bottom: 24px;
	margin-left: 0;
	color: #797C7F;
	font-size: 18px;
	list-style-type: none;
}


/*Team*/
.single-team-member .team-bg img {
	aspect-ratio: 4/5;
	object-fit: cover;
}

/*Blog*/
.single-blog-item .blog-img img {
	aspect-ratio: 4/3;
	object-fit: cover;
}

@media (max-width: 767px) {
	.single-blog-item .blog-meta {
		opacity: 1;
		color: #1F2747;
		margin-bottom: 14px;
	}

	.single-blog-item .blog-info {
		opacity: 1;
		color: #1F2747;
	}
}

/*blog-details-page*/
.blog-details-page {
	padding-top: 60px;
}

.blog-details-page .blog-feature-img img {
	width: 100%;
	aspect-ratio: 4/3;
	object-fit: cover;
}

.blog-details-page .blog-content-wrap h3 {
	margin-bottom: 24px;
}

.blog-details-page .blog-content-wrap ul {
	list-style-type: disc;
	margin-bottom: 24px;
	margin-left: 18px;
	color: #797C7F;
}

/*FAQ section*/
.faq-section {
	padding: 120px 0 0;
}

.faq-section--large-padding {
	padding: 120px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .faq-section--large-paddin {
    padding: 90px 30px;
  }
}
@media (max-width: 767px) {
  .faq-section--large-paddin {
    padding: 80px 0;
  }
}

.faq-section .faq-section__header {
	margin-bottom: 40px;
}

/*contact-info-wrapper*/
.contact-info-wrapper .contact-icon i {
	font-size: 30px;
}

.contact-info-wrapper .single-contact-info {
	position: relative;
}

.contact-info-wrapper .single-contact-info .single-contact-info__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

/*.single-price-wrap*/
.single-price-wrap {
	gap: 20px;
	flex-direction: column;
}

.single-price-wrap h4 {
	margin-top: 0;
}

@media screen and (max-width: 768px) {	
	.single-price-wrap {
		display: flex;
		text-align: center;
	}
}
